body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #292b3a;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
  min-width: 500px;
}

.content {
  background-color: rgba(255, 255, 255, 0.1);
  width: 30%;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f1f1f1;
  opacity: 1;
  transition: 0.2s;
}

.content:hover {
  opacity: 0.8;
}

.content h2{
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
}



button {
  height: 40px;
  width: 40px;
  color: #f1f1f1;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  transition: 0.2s;
}

button:hover {
  opacity: 0.7;
}

.content .increase {
  background-color: rgb(5, 156, 43);
}

.content .decrease {
  background-color: rgb(199, 6, 6);
  margin-left: 5px;
}